<h5>The clock is running...</h5>

<% if @result %>
  <%= @result %>
  <br>
<% end %>

<%= @word %>

<form action="/" method="post">
  <input type="hidden" name="word" value="<%= @word %>">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input name="input">
  <button type="submit" class="btn blue accent-4">Input</button>
</form>

<% if @input %>
what you wrote: <%= @input %>
<% end %>
<br>
time elapsed: <%= @elapsed %>
<br>
words per minute: <%= @words_per_minute %>
<br>
<a href='/strings'>Add a new string</a>
