<h5>The clock is running...</h5>

<div class="row">
  <div class="input-field col s6">
    <%= @word %>
    <form action="/" method="post" autocomplete="off">
      <input type="hidden" name="word" value="<%= @word %>">
      <input type="hidden" name="start_time" value="<%= @start_time %>">
      <input id="input" name="input">
      <!-- <textarea name="input" id="textarea1" class="materialize-textarea"></textarea> -->
      <button type="submit" class="btn blue accent-4">Input</button>
    </form>
    <br>
    <% if @result %>
      <div class="card red">
        <div class="card-content white-text">
          <%= @result %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col s6">
    <div class="card blue-grey darken-1">
      <div class="card-content black-text">
        <span class="card-title">Time Elapsed:</span>
        <p><%= @elapsed %></p>
        <span class="card-title">Words Per Minute:</span>
        <p><%= @words_per_minute %></p>
      </div>
    </div>
  </div>
</div>

<a href='/strings'>Add a new string</a>
