<h5>The clock is running...</h5>

<% if @result %>
  <%= @result %>
  <br>
<% end %>

<%= @word %>

<div class="row">
  <div class="input-field col s6">
    <form action="/" method="post">
      <input type="hidden" name="word" value="<%= @word %>">
      <input type="hidden" name="start_time" value="<%= @start_time %>">
      <input name="input">
      <!-- <textarea name="input" id="textarea1" class="materialize-textarea"></textarea> -->
      <button type="submit" class="btn blue accent-4">Input</button>
    </form>
  </div>
</div>

<div class="card-panel blue-grey darken-1">
  <div class="card-content black-text">
    <% if @input %>
    <span class="card-title">what you wrote:</span>
      <%= @input %>
    <% end %>
  </div>
</div>
<div class="card-panel blue-grey darken-1">
  <div class="card-content black-text">
    <span class="card-title">Time Elapsed:</span>
  </div>
  <div class="card-action">
    <%= @elapsed %>
  </div>
</div>
  <br>
  words per minute: <%= @words_per_minute %>

<br>
<a href='/strings'>Add a new string</a>
