<%= @word %>

<% if @result %>
  <%= @result %>
<% end %>

<form action="/" method="post">
  <input type="hidden" name="word" value="<%= @word %>">
  <input type="hidden" name="start_time" value="<%= @start_time %>">
  <input name="guess">
  <button type="submit">Guess</button>
</form>

<%= @elapsed %>
